<div class="container">
<h1>All Photos</h1>

<a href="/photos/new">
  Add a new photo
</a>
<% @photos.each do |photo| %>
<div>
    <img src="<%= photo.source %>">
    <nav>
      <ul>
        <li><a href="/photos/<%= photo.id %>">Show Details</a></li>
        <li><a href="/photos/<%= photo.id %>/edit">Edit</a></li>
        <li><a href="/delete_photo/<%= photo.id %>">Delete</a></li>
      </ul>
    </nav>
  </div>
  <hr>
<% end %>
</div>